<div class="col-6">
    <button class="btn btn-success" type="button" data-toggle="collapse" href="#character-1" aria-expanded="false"
        aria-controls="character-1">Valyn the Prince Thief</button>
</div>

<div class="col-6 d-flex justify-content-end">
    <button class="btn btn-danger" type="button" data-toggle="collapse" href="#enemy-1" aria-expanded="false"
        aria-controls="enemy-1">Goblin</button>
</div>