<div class="col-8">
    <div class="collapse multi-collapse" id="character-1">
        <div class="card" style="width: 18rem;">
            <div class="row bg-dark">
                <div class="col-7">
                    <img class="img-thumbnail bg-success" alt="...">
                    <h5 class="card-title text-center text-white">Valyn</h5>
                    <p class="card-text text-center text-white">A prince of a forgotten kingdom turned thief
                    </p>
                </div>
                <div class="col-5">
                    <ul class="list-group list-group-flush">
                        {{> playerlist}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="collapse multi-collapse" id="enemy-1">
        <div class="card" style="width: 18rem;">
            <div class="row bg-dark">
                <div class="col-5">
                    <ul class="list-group list-group-flush text-primary">
                        <li class="list-group-item list-group-item-secondary">STR:9</li>
                        <li class="list-group-item list-group-item-secondary">DEX:11</li>
                        <li class="list-group-item list-group-item-secondary">CON:8</li>
                        <li class="list-group-item list-group-item-secondary">INT:5</li>
                        <li class="list-group-item list-group-item-secondary">WIS:5</li>
                        <li class="list-group-item list-group-item-secondary">CHA:5</li>
                    </ul>
                </div>
                <div class="col-7">
                    <img class="img-thumbnail bg-danger" alt="...">
                    <h5 class="card-title text-center text-white">Goblin</h5>
                    <p class="card-text text-center text-white">A minion full of greed and malice</p>
                </div>

            </div>
        </div>
    </div>
</div>