<div class="col-4">
    <div class="collapse multi-collapse" id="{{enemy_name}}">
        <div class="card bg-dark" style="width: 18rem;">
            <div class="row">
                <div class="col-5">
                    <ul class="list-group list-group-flush text-primary">
                        {{> enemylist}}
                    </ul>
                </div>
                <div class="col-7">
                    <img class="img-thumbnail bg-danger" alt="...">
                    <h5 class="card-title text-center text-white">{{enemy_name}}</h5>
                    <p class="card-text text-center text-white">{{enemy_type}}</p>
                </div>

            </div>
        </div>
    </div>
</div>