<div class="col-6 d-flex justify-content-end">
    <button class="btn btn-danger" type="button" data-toggle="collapse" href="#{{enemy_name}}" aria-expanded="false"
        aria-controls="enemy-1">{{enemy_name}}</button>
</div>