<header class='container'>
    <nav id='nav'>
        <div class="nav-wrapper">
            <a id="header" href="#">
                <h3 class="center"><i class="fas fa-xs fa-dragon"></i> Dungeons & Dragons Game Manager <i
                        class="fas fa-xs fa-swords"></i></h3>
            </a>
        </div>
    </nav>
</header>