<center>
  <div class="container">
    <div id="form" class="col s12 z-depth-1 lighten-4 row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="character_name" type="text">
            <label for="email">Character Name</label>
          </div>
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="player_race" type="text">
            <label for="email">Race</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="player_class" type="text">
            <label for="email">Class</label>
          </div>
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="level" type="text">
            <label for="email">Level</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="armor_class" type="text">
            <label for="email">Armor Class</label>
          </div>
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="health" type="text">
            <label for="email">Health</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="strength" type="text">
            <label for="email">Strength</label>
          </div>
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="dexterity" type="text">
            <label for="email">Dexterity</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="constitution" type="text">
            <label for="email">Constitution</label>
          </div>
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="wisdom" type="text">
            <label for="email">Wisdom</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="intelligence" type="text">
            <label for="email">Intelligence</label>
          </div>
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="charisma" type="text">
            <label for="email">Charisma</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class='validate orange-text text-accent-2' id="pp" type="text">
            <label for="email">Passive Perception</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</center>