<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./public/stylesheets/style.css">
</head>

<body>

<div id="form" class="col s12 z-depth-1 lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px;">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="character-name" type="text">
          <label for="email">Character Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="race" type="text">
          <label for="email">Race</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="class" type="text">
          <label for="email">Class</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="level" type="text">
          <label for="email">Level</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="armor-class" type="text">
          <label for="email">Armor Class</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="health" type="text">
          <label for="email">Health</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="strength" type="text">
          <label for="email">Strength</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="dexterity" type="text">
          <label for="email">Dexterity</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="constitution" type="text">
          <label for="email">Constitution</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="wisdom" type="text">
          <label for="email">Wisdom</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="intelligence" type="text">
          <label for="email">Intelligence</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="charisma" type="text">
          <label for="email">Charisma</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class='validate orange-text text-accent-2' id="passive-perception" type="text">
          <label for="email">Passive Perception</label>
        </div>
      </div>
    </form>
  </div>

  </body>