<main id="player-bg">
    <div class="container">

        {{#each enemyData}}
        <div class="row">
            {{> enemy-button}}
        </div>
        {{/each}}

        {{#each enemyData}}
        <div class="row">
            {{> enemyinfo}}
        </div>
        {{/each}}

    </div>

</main>