<main id="player-bg">
     <div class="nav-wrapper">
        <button type='submit' name='btn_create_party' class='col s12 btn btn-large waves-effect orange mx-2'>
            <a class="black-text" href="/party/:party_name"><i class="fas fa-users"></i>Players</a>
        </button>
    </div>
    <div class="container">

        {{#each enemyData}}
        <div class="row">
            {{> enemy-button}}
        </div>
        {{/each}}

        {{#each enemyData}}
        <div class="row">
            {{> enemyinfo}}
        </div>
        {{/each}}

    </div>

</main>