<main class="container">
    <div class="row center">
        <div id="party-carousel" class="col carousel">
            {{#each dbPartyData}}
            <div class="column carousel-item">
                <div class="col s12">
                    <img class="img" src="/images/DnD.jpg">
                    <span class="black"><a id="party-select" href="/party/{{party_name}}">{{party_name}}</a></span>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>