<div class="container">
        <button type='submit' name='btn_create_character' class='col s12 btn btn-large waves-effect orange'><a class="black-text" href="/addcharacter">New Character</a></button>
    </div>

    <main id="player-bg" class="container bg-secondary">
        {{#each }}
        <div class="row">
            {{> character-button}}
        </div>
        {{/each}}

        {{#each}}
        <div class="row">
            {{> character}}
        </div>
        {{/each}}

    </main>