<main id="card-container" class="container bg-secondary">
    <div class="row">
        {{> character-button}}
    </div>

    {{#each playerData}}
    <div class="row">
        {{> character}}
    </div>
    {{/each}}

</main>